* {margin: 0;padding: 0;}
	.wrap{width: 930px;margin: 0 auto;}
	.header{height: 102px;}
	.header .logo{height: 102px;float: left;}
	.logo{width: 109px;}
	.nav a{text-decoration: none;color: #0055b3;}
	.navs{list-style-type: none;float: left;background-image: url(http://a1.qpic.cn/psb?/V111dAye3UR91h/ZR8utIgN6S83yXNLN6hpdOHIqV3nFF4tkoDB.0lc5Ms!/m/dHQBAAAAAAAAnull&bo=BwAHAAcABwACCi4!&rf=photolist&t=5);background-repeat: no-repeat;background-position: right center;margin-top: 48px;}
	.navs a{display:block;text-decoration: none;font-size: 10px;font-family: Arial;color:#424345;text-align:left;padding:0px 28px;font-weight: 6px;}
	.seach{width: 319px;float: right;padding-top: 16px;}}
	.banner{height: 380px;clear: both;}
	.dell{height: 308px;margin-top: 23px;}
	.dell-center{padding-left: 12px;padding-right: 12px;}
	.dell div{width: 302px;height: 285px;float: left;}
	.dell h2{height: 31px;line-height: 18px;font-size: 12px; margin-left: 21px;}
	.dell ul{list-style-image:url(http://a3.qpic.cn/psb?/V111dAye3UR91h/Q5a*5SLSdN583AEV6cFvW6dISD7BGf33r.VhfXV1lYE!/m/dHIBAAAAAAAAnull&bo=BAAHAAQABwACCi4!&rf=photolist&t=5);list-style-position: inside;margin: 13px 0px 0px 40px;}
	.dell a{text-decoration: none;color: #000;font-size: 10px;}
	.lang{height: 47px;clear: both;}
	.english{width: 216px;}
	.tubiao{width: 65px;}
	.fuwu{height: 179px;}
	.jieshao{width: 207px;float: left;margin: 8px 1px}
	.jieshao{width: 186px;float: left;margin: 8px 1px}
	.jieshao{width: 186px;float: left;margin: 8px 1px}
	.jieshao{width: 186px;float: left;margin: 8px 1px}
	.jieshao{width: 165px;float: left;margin: 8px 1px}
	.jieshao li{padding-left:16px;list-style: none;font-size: 10px;font-family: Arial;line-height: 22px;background-image: url(http://a2.qpic.cn/psb?/V111dAye3UR91h/WmOoKvMMdZQdQCvBX.xIIFrIjblKR6.70Gp.XkOR598!/m/dHUBAAAAAAAAnull&bo=BAAHAAQABwACCi4!&rf=photolist&t=5);background-repeat: no-repeat;background-position: left center;}
